<%= form_for(resource,
             as: resource_name,
             url: session_path(resource_name),
             html: { class: "form-signin", role: "form" }) do |f| %>
  <h2 class="form-signin-heading">
    サインイン
  </h2>

  <%= f.text_field :username,
    class: "form-control",
    placeholder: "ユーザー名" %>

  <%= f.password_field :password,
    autocomplete: "off",
    class: "form-control",
    placeholder: "パスワード" %>

  <%= f.submit "サインイン",
    data: { disable_with: "サインイン中..." },
    class: "btn btn-lg btn-primary btn-block" %>
<% end %>
